.p-inputtextarea {
  background-color: var(--blue-50) !important;
  color: #000 !important;
}

.p-result-panel {
  width: 70%;
  height: 40%;
}

.p-result-panel.red .p-panel-content {
  color: red !important;
}

.p-result-panel.green .p-panel-content {
  color: green !important;
}

.p-panel-header {
  background-color: var(--blue-700) !important;
  color: white !important;
}

.p-button-custom {
  background-color: var(--blue-700) !important;
  border-color: var(--blue-700) !important;
}

.p-button-report {
  color: black !important;
  border-color: rgb(253, 130, 130) !important;
  background-color: rgb(250, 190, 190) !important;
}

.p-button-false {
  color: black !important;
  border-color: rgb(64, 182, 64) !important;
  background-color: rgb(183, 241, 183) !important;
}
