.p-card {
  width: 270px;
  box-shadow: 0 7px 30px #00000014, 0 22px 30px 2px #00000026,
    0 8px 10px #00000026 !important;
}

.p-card-home:hover {
  transition: all 0.1s ease-in-out;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.p-container {
  position: relative;
}

.p-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--blue-800);
  opacity: 80%;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.3s ease;
}

.p-overlay:hover {
  cursor: pointer;
}

.p-container:hover .p-overlay {
  height: 30%;
}

.p-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 960px) {
  .p-card-container {
    display: flex;
    flex-direction: column !important;
  }
}
