.p-card-body {
  background-color: #e4e4f0 !important;
  color: black !important;
}

.p-toggleable-content {
  height: calc(100% - 50px);
  overflow: auto;
}

.p-panel-urllist {
  height: 100%;
}

.p-panel-content,
.p-card {
  background-color: #304961 !important;
  box-shadow: none !important;
}

.p-datascroller-footer {
  background-color: #304961 !important;
}

.p-panel-header {
  display: flex;
  justify-content: center !important;
}

.p-button {
  background-color: #c28fc5 !important;
  border-color: #c07dc4 !important;
  color: black !important;
}

.grid {
  margin: 0px !important;
}

.grid > div {
  padding: 0px !important;
}