.p-card-body {
  background-color: rgb(228, 228, 240) !important;
  color: black !important;
}

.p-panel-urllist {
  width: 100%;
  height: calc(100vh - 90px);
}

.p-toggleable-content {
  height: calc(100% - 50px);
  overflow: auto;
}

.p-panel-header {
  display: flex;
  justify-content: center !important;
}
